<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicant Info</title>
    <%- include('./bootstrap-css') %>
</head>
<body>

    <div class="container col-12 row ">
        <div class="col-6">

            <div class="container mt-3">
                <h3>Document Front </h3>
                <img src="/uploads/<%= document_front %>" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
                <a href="/uploads/<%= document_front %>"  target="_blank" class="btn btn-primary btn-md"> download </a>
                
            </div>
        </div>

        <div class="col-6">
            <div class="container mt-3">
                <h3> Document Back </h3>
                <img src="/uploads/<%= document_back%>" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
                <a href="/uploads/<%= document_back %>" target="_blank" class="btn btn-primary btn-md"> download </a>
                
            </div>
        </div>
    </div>
    
</body>
</html>